<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'comic_app/style.css' %}">
<html>
<body>
<main class="wrapper">
<div class="row">
<div class="column">
<img src=https://cdn.imagecomics.com/assets/i/releases/460460/analog-8_0ed89ae946.jpg alt class="u-mb0_5 block with-border">
   <span class="title">
    Analog #8
    </span>

</div>
<div class="column">
<img src=https://cdn.imagecomics.com/assets/i/releases/458260/coffin-bound-2_169328db74.jpg alt class="u-mb0_5 block with-border">
   <span class="title">
    Coffin Bound #2
    </span>

</div>
<div class="column">
<img src=https://cdn.imagecomics.com/assets/i/releases/458320/gogor-5_58cd671b37.jpg alt class="u-mb0_5 block with-border">
   <span class="title">
    Gogor #5
    </span>

</div>
<div class="column">
<img src=https://cdn.imagecomics.com/assets/i/releases/458324/hit-girl-season-two-8_f4b7aa24f1.jpg alt class="u-mb0_5 block with-border">
   <span class="title">
    Hit-Girl Season Two #8
    </span>

</div>
<div class="column">
<img src=https://cdn.imagecomics.com/assets/i/releases/457003/i-hate-fairyland-book-two-hc_006570debe.jpg alt class="u-mb0_5 block with-border">
   <span class="title">
    I Hate Fairyland: Book Two HC
    </span>

</div>
<div class="column">
<img src=https://cdn.imagecomics.com/assets/i/releases/458556/isola-9_547c478780.jpg alt class="u-mb0_5 block with-border">
   <span class="title">
    Isola #9
    </span>

</div>
<div class="column">
<img src=https://cdn.imagecomics.com/assets/i/releases/457663/kick-ass-17_711fb93a29.jpg alt class="u-mb0_5 block with-border">
   <span class="title">
    Kick-Ass #17
    </span>

</div>
<div class="column">
<img src=https://cdn.imagecomics.com/assets/i/releases/457672/man-eaters-11_e476131eed.jpg alt class="u-mb0_5 block with-border">
   <span class="title">
    Man-Eaters #11
    </span>

</div>
<div class="column">
<img src=https://cdn.imagecomics.com/assets/i/releases/458359/oblivion-song-by-kirkman-de-felici-19_b21a339694.jpg alt class="u-mb0_5 block with-border">
   <span class="title">
    Oblivion Song By Kirkman &amp; De Felici #19
    </span>

</div>
<div class="column">
<img src=https://cdn.imagecomics.com/assets/i/releases/458211/oblivion-song-by-kirkman-de-felici-vol-3-tp_c3b028ea8c.jpg alt class="u-mb0_5 block with-border">
   <span class="title">
    Oblivion Song by Kirkman &amp; De Felici, Vol. 3 TP
    </span>

</div>
<div class="column">
<img src=https://cdn.imagecomics.com/assets/i/releases/458365/outer-darkness-10_805a1cd9fa.jpg alt class="u-mb0_5 block with-border">
   <span class="title">
    Outer Darkness #10
    </span>

</div>
<div class="column">
<img src=https://cdn.imagecomics.com/assets/i/releases/458376/postal-deliverance-3_53a59396b7.jpg alt class="u-mb0_5 block with-border">
   <span class="title">
    Postal: Deliverance #3
    </span>

</div>
<div class="column">
<img src=https://cdn.imagecomics.com/assets/i/releases/458387/rat-queens-2017-18_8af9f74fb1.jpg alt class="u-mb0_5 block with-border">
   <span class="title">
    Rat Queens (2017) #18
    </span>

</div>
<div class="column">
<img src=https://cdn.imagecomics.com/assets/i/releases/458393/reaver-3_728474412c.jpg alt class="u-mb0_5 block with-border">
   <span class="title">
    Reaver #3
    </span>

</div>
<div class="column">
<img src=https://cdn.imagecomics.com/assets/i/releases/458448/sonata-4_727480a690.jpg alt class="u-mb0_5 block with-border">
   <span class="title">
    Sonata #4
    </span>

</div>
<div class="column">
<img src=https://cdn.imagecomics.com/assets/i/releases/457581/the-beauty-29_6da3e856d9.jpg alt class="u-mb0_5 block with-border">
   <span class="title">
    The Beauty #29
    </span>

</div>
<div class="column">
<img src=https://cdn.imagecomics.com/assets/i/releases/458470/thumbs-4-of-5_cac28a2a9a.jpg alt class="u-mb0_5 block with-border">
   <span class="title">
    Thumbs #4 (of 5)
    </span>

</div>
<div class="column">
<img src=https://cdn.imagecomics.com/assets/i/releases/458138/trees-three-fates-1-of-5_716d907da2.jpg alt class="u-mb0_5 block with-border">
   <span class="title">
    Trees: Three Fates #1 (of 5)
    </span>

</div>
<div class="column">
<img src=https://cdn.imagecomics.com/assets/i/releases/458475/unearth-3_f495ae0cb7.jpg alt class="u-mb0_5 block with-border">
   <span class="title">
    Unearth #3
    </span>

</div>
<div class="column">
<img src=https://cdn.imagecomics.com/assets/i/releases/458228/unnatural-vol-3-rebirth-tp_163745ca21.jpg alt class="u-mb0_5 block with-border">
   <span class="title">
    Unnatural, Vol. 3: Rebirth TP
    </span>

</div>
</div>
</body>
</html>
